<p-toast position="center"></p-toast>
<div class="card">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="Añadir" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
      <button pButton pRipple label="Volver" icon="pi pi-arrow-left" class="p-button-success mr-2" [routerLink]="['/manager/']"></button>
      <!-- <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button> -->
    </ng-template>

  </p-toolbar>
  <p-table #dt [value]="ingredientes" [rows]="10" [paginator]="true" [globalFilterFields]="['name','type']" responsiveLayout="scroll"
            [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} resultados" [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <h5 class="m-0">Gestión Ingredientes</h5>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
          <th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon></th>
          <th pSortableColumn="price">Precio <p-sortIcon field="price"></p-sortIcon></th>
          <th pSortableColumn="type">Tipo <p-sortIcon field="type"></p-sortIcon></th>
          <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ingrediente>
      <tr>
          <!-- <td>
              <p-tableCheckbox [value]="ingrediente"></p-tableCheckbox>
          </td> -->
          <td>{{ingrediente.name}}</td>
          <td>{{ingrediente.price | currency:'EUR'}}</td>
          <td>{{ingrediente.type}}</td>
          <td>
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="openEdit(ingrediente)"></button>
          </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
          Total de ingredientes {{ingredientes ? ingredientes.length : 0 }}.
      </div>
    </ng-template>
  </p-table>

  <p-dialog [(visible)]="ingredienteDialog" [style]="{width: '450px'}" header="Ingredientes" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="name">Nombre</label>
            <input type="text" pInputText id="name" [(ngModel)]="ingrediente.name" required autofocus />
            <small class="p-error" *ngIf="submitted && !ingrediente.name">Name is required.</small>
        </div>
        <div class="field">
          <label for="name">Tipo Ingrediente</label>
          <p-dropdown [options]="tiposIngredientes" [(ngModel)]="tipoIngredienteSelected" optionLabel="name"></p-dropdown>
        </div>
        <div class="field">
          <label for="price">Precio</label>
          <input type="number" step="0.01" pInputText id="price" [(ngModel)]="ingrediente.price" required autofocus />
          <!-- <p-inputNumber [(ngModel)]="ingrediente.price" mode="currency" currency="EUR" [showButtons]="true" inputId="stacked"></p-inputNumber> -->
        </div>
        <!-- <div class="field">
          <label for="price">Precio</label>
          <select [(ngModel)]="ingrediente.type" name="select">
            <option value="base" [selected]="ingrediente.type === 'base'">Base</option>
            <option value="salsa" [selected]="ingrediente.type === 'salsa'">Salsa</option>
            <option value="otros" [selected]="ingrediente.type === 'otros'">Otros</option>
          </select>
        </div> -->

    </ng-template>

    <ng-template pTemplate="footer">
      <p-button label="Guardar" icon="pi pi-check" class="p-button-text" (click)="saveIngrediente()"></p-button>
      <p-button label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></p-button>
    </ng-template>
  </p-dialog>

</div>
