<p-card>
  <h1>Registro</h1>
  <form>
    <div class="p-fluid grid">
      <div class="field ">
          <span class="p-float-label">
              <input type="text" name="nombre" id="nombre" pInputText ="value1" required minlength="2" maxlength="50">
              <label for="inputtext">Nombre</label>
          </span>
      </div>
    </div>

    <div class="p-fluid grid">
      <div class="field ">
          <span class="p-float-label">
              <input type="text" name="apellidos" id="apellidos" pInputText ="value1" required minlength="2" maxlength="50">
              <label for="inputtext">Apellidos</label>
          </span>
      </div>
    </div>

    <div class="p-fluid grid">
      <div class="field ">
          <span class="p-float-label">
              <input type="tel" name="telefono" id="telefono" pInputText ="value1" required maxlength="11">
              <label for="inputtext">Teléfono</label>
          </span>
      </div>
    </div>

    <div class="p-fluid grid">
      <div class="field ">
          <span class="p-float-label">
              <input type="email" name="email" id="email" pInputText ="value1" required maxlength="50">
              <label for="inputtext">Correo electrónico</label>
          </span>
      </div>
    </div>
    <div class="field ">
      <span class="p-float-label">
          <p-password inputId="password" ></p-password>
          <label for="password">Password</label>
      </span>
  </div>

  <div class="field ">
    <span class="p-float-label">
        <p-password inputId="password" ></p-password>
        <label for="password">Confirmar Password</label>
    </span>
  </div>
  <button pButton type="button" label="Enviar" class="p-button"></button>
  <button pButton type="button" label="Cancelar" class="p-button"></button>
  </form>
  </p-card>








<!-- <input type="text" id="inputtext" pinputtext="" class="p-inputtext p-component p-element ng-valid ng-touched ng-dirty"> -->
