<p-card>
  <h1>Registro</h1>
  <form class="form-signup" [formGroup]="signupForm" (ngSubmit)="register()">
    <div class="p-fluid grid">
      <div class="field">
        <span class="">
          <label for="firstName">Nombre</label>
          <input
            class="form-control"
            type="text"
            name="firstName"
            id="firstName"
            required
            minlength="2"
            maxlength="50"
            formControlName="firstName"
          />

        </span>
      </div>
    </div>

    <div class="p-fluid grid">
      <div class="field">
        <span class="">
          <label for="lastName">Apellidos</label>
          <input
            class="form-control"
            type="text"
            name="lastName"
            id="lastName"
            required
            minlength="2"
            maxlength="50"
            formControlName="lastName"
          />

        </span>
      </div>
    </div>

    <div class="p-fluid grid">
      <div class="field">
        <span class="">
          <label for="phone">Teléfono</label>
          <input
            class="form-control"
            type="tel"
            name="phone"
            id="phone"
            required
            maxlength="11"
            formControlName="phone"
          />

        </span>
      </div>
    </div>

    <div class="p-fluid grid">
      <div class="field">


        <span class="">
          <label for="email">Correo electrónico</label>
          <input
            class="form-control"
            type="email"
            name="email"
            id="email"
            required
            maxlength="50"
            formControlName="email"
          />

        </span>
      </div>
    </div>
    <div class="field">
      <span class="">
        <label for="password">Password</label>
        <input
          class="form-control"
          type="password"
          name="password"
          id="password"
          required
          maxlength="50"
          formControlName="password"
        />

      </span>
    </div>

    <div class="field">
      <span class="">
        <label for="confirmPassword">Confirmar Password</label>
        <input
          class="form-control"
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          required
          maxlength="50"
          formControlName="confirmPassword"
        />

      </span>
    </div>
    <button pButton type="submit" label="Enviar" class="p-button"></button>
    <button pButton type="button" label="Cancelar" class="p-button" routerLink="/"></button>
  </form>
</p-card>
