

<h1>Registro</h1>
<form>
  <div class="p-fluid grid">
    <div class="field col-12 md:col-4">
        <span class="p-float-label">
            <input type="text" id="Nombre" pInputText ="value1">
            <label for="inputtext">Nombre</label>
        </span>
    </div>
  </div>

  <div class="p-fluid grid">
    <div class="field col-12 md:col-4">
        <span class="p-float-label">
            <input type="text" id="Apellidos" pInputText ="value1">
            <label for="inputtext">Apellidos</label>
        </span>
    </div>
  </div>

</form>






<!-- <input type="text" id="inputtext" pinputtext="" class="p-inputtext p-component p-element ng-valid ng-touched ng-dirty"> -->
