<p-messages [value]="msgs"></p-messages>
<br/>

<br/>
<p-card header="Listado de pedidos elaborándose" class="p-component text-center">
<p-table *ngIf="pedidosElaborandose.length != 0" [value]="pedidosElaborandose" dataKey="idOrder" responsiveLayout="scroll">
  <ng-template pTemplate="header">
      <tr>
          <th style="width: 3rem"></th>
          <th>ID</th>
          <th>Estado</th>
         <th>Comentario</th>
          <th></th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-pedidoElaborandose let-expanded="expanded">
      <tr>
          <td>
              <button type="button" pButton pRipple [pRowToggler]="pedidoElaborandose" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
          </td>
          <td>{{pedidoElaborandose.idOrder}}</td>
          <td>{{pedidoElaborandose.orderStatus}}</td>
          <td>{{pedidoElaborandose.comment}}</td>
          <td><button pButton class="p-button-rounded" (click)="openEditElaborandose(pedidoElaborandose)"><i class = "pi pi-shopping-bag"></i><i class = "pi pi-arrow-right"></i></button>
          </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-pedidoElaborandose>
      <tr>
          <td colspan="7">
              <div class="p-3">
                  <p-table [value]="pedidoElaborandose.pizzas" dataKey="idPizza">
                      <ng-template pTemplate="header">
                          <tr>
                              <th pSortableColumn="idPizza">ID<p-sortIcon field="idPizza"></p-sortIcon></th>
                              <th pSortableColumn="nombre">Pizza<p-sortIcon field="nombre"></p-sortIcon></th>
                              <th pSortableColumn="quantity">Cantidad<p-sortIcon field="quantity"></p-sortIcon></th>
                          </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-pizzas>
                          <tr>
                              <td>{{pizzas.idPizza}}</td>
                              <td>{{pizzas.nombre}}</td>
                              <td>{{pizzas.quantity}}</td>
                          </tr>
                      </ng-template>
                      <ng-template pTemplate="emptymessage">
                          <tr>
                              <td colspan="6">No hay pizzas para este pedido</td>
                          </tr>
                      </ng-template>
                  </p-table>
              </div>
          </td>
      </tr>
  </ng-template>
</p-table>
<h2 *ngIf="pedidosElaborandose.length === 0" class="p-component">En estos momentos no hay ningún pedido</h2>
</p-card>

<p-card header="Listado de pedidos solicitados" class="p-component text-center">
  <p-table *ngIf="pedidosSolicitados.length != 0" [value]="pedidosSolicitados" dataKey="idOrder" responsiveLayout="scroll">
  <ng-template pTemplate="header">
      <tr>
          <th style="width: 3rem"></th>
          <th>ID</th>
          <th>Estado</th>
         <th>Comentario</th>
          <th></th>
          <th></th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-pedidoSolicitado let-expanded="expanded">
      <tr>
          <td>
              <button type="button" pButton pRipple [pRowToggler]="pedidoSolicitado" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
          </td>
          <td>{{pedidoSolicitado.idOrder}}</td>
          <td>{{pedidoSolicitado.orderStatus}}</td>
          <td>{{pedidoSolicitado.comment}}</td>
          <td><button pButton class="p-button-rounded" (click)="openEditSolicitado(pedidoSolicitado, 'confirm')" icon="pi pi-check"></button>
          </td>
          <td><button pButton class="p-button-rounded" (click)="openEditSolicitado(pedidoSolicitado, 'decline')" icon="pi pi-times"></button></td>
      </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-pedidoSolicitado>
      <tr>
          <td colspan="7">
              <div class="p-3">
                  <p-table [value]="pedidoSolicitado.pizzas" dataKey="idPizza">
                      <ng-template pTemplate="header">
                          <tr>
                              <th pSortableColumn="idPizza">ID<p-sortIcon field="idPizza"></p-sortIcon></th>
                              <th pSortableColumn="nombre">Pizza<p-sortIcon field="nombre"></p-sortIcon></th>
                              <th pSortableColumn="quantity">Cantidad<p-sortIcon field="quantity"></p-sortIcon></th>
                          </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-pizzas>
                          <tr>
                              <td>{{pizzas.idPizza}}</td>
                              <td>{{pizzas.nombre}}</td>
                              <td>{{pizzas.quantity}}</td>
                          </tr>
                      </ng-template>
                      <ng-template pTemplate="emptymessage">
                          <tr>
                              <td colspan="6">No hay pizzas para este pedido</td>
                          </tr>
                      </ng-template>
                  </p-table>
              </div>
          </td>
      </tr>
  </ng-template>
</p-table>
<h2 *ngIf="pedidosSolicitados.length === 0" class="p-component">En estos momentos no hay ningún pedido</h2>
</p-card>

<p-confirmDialog showEffect="fade" [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
