<p-messages [value]="msgs"></p-messages>
<p-table *ngIf="pedidos.length != 0" [value]="pedidos" dataKey="idOrder" responsiveLayout="scroll">

  <ng-template pTemplate="header">
      <tr>
          <th style="width: 3rem"></th>
          <th>ID</th>
          <th>Estado</th>
         <th>Comentario</th>
          <th></th>
          <th></th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-pedido let-expanded="expanded">
      <tr>
          <td>
              <button type="button" pButton pRipple [pRowToggler]="pedido" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
          </td>
          <td>{{pedido.idOrder}}</td>
          <td>{{pedido.orderStatus}}</td>
          <td>{{pedido.comment}}</td>
          <td><button pButton class="p-button-rounded" (click)="openEdit(pedido, 'confirm')" icon="pi pi-check"></button>
          </td>
          <td><button pButton class="p-button-rounded" (click)="openEdit(pedido, 'decline')" icon="pi pi-times"></button></td>
      </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-pedido>
      <tr>
          <td colspan="7">
              <div class="p-3">
                  <p-table [value]="pedido.pizzas" dataKey="idPizza">
                      <ng-template pTemplate="header">
                          <tr>
                              <th pSortableColumn="idPizza">ID<p-sortIcon field="idPizza"></p-sortIcon></th>
                              <th pSortableColumn="nombre">Pizza<p-sortIcon field="nombre"></p-sortIcon></th>
                              <th pSortableColumn="quantity">Cantidad<p-sortIcon field="quantity"></p-sortIcon></th>
                          </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-pizzas>
                          <tr>
                              <td>{{pizzas.idPizza}}</td>
                              <td>{{pizzas.nombre}}</td>
                              <td>{{pizzas.quantity}}</td>
                          </tr>
                      </ng-template>
                      <ng-template pTemplate="emptymessage">
                          <tr>
                              <td colspan="6">No hay pizzas para este pedido</td>
                          </tr>
                      </ng-template>
                  </p-table>
              </div>
          </td>
      </tr>
  </ng-template>
</p-table>
<h2 *ngIf="pedidos.length === 0">En este momento no hay ningún pedido</h2>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
