<p-card>
  <h1>Cambiar contraseña</h1>
  <form>
    <div class="p-fluid grid">
      <div class="field col-12 md:col-4">
            <label for="inputtext">Contraseña actual</label>
              <input type="text" name="nombre" id="nombre" pInputText ="value1" required minlength="2" maxlength="50">
      </div>
    </div>
    <div class="p-fluid grid">
      <div class="field col-12 md:col-4">
            <label for="inputtext">Nueva contraseña</label>
              <input type="text" name="nombre" id="nombre" pInputText ="value1" required minlength="2" maxlength="50">
      </div>
    </div>
    <div class="p-fluid grid">
      <div class="field col-12 md:col-4">
            <label for="inputtext">Repita la contraseña</label>
              <input type="text" name="nombre" id="nombre" pInputText ="value1" required minlength="2" maxlength="50">
      </div>
    </div>

  <button pButton type="button" label="Cambiar" class="p-button"></button>
  </form>
</p-card>
