<p-card>
  <h1>Perfil</h1>
  <form *ngIf="!user">
    <div class="p-fluid grid">
      <div class="field col-12 md:col-4">
            <label for="inputtext">Nombre</label>
              <input type="text" name="nombre" id="nombre" pInputText="test" [(ngModel)]="user"  required >
      </div>
    </div>
    <div class="p-fluid grid">
      <div class="field col-12 md:col-4">
            <label for="inputtext">Apellidos</label>
              <input type="text" name="nombre" id="nombre" pInputText   required minlength="2" maxlength="50">
      </div>
    </div>
    <div class="p-fluid grid">
      <div class="field col-12 md:col-4">
            <label for="inputtext">Teléfono</label>
              <input type="text" name="nombre" id="nombre" pInputText required minlength="2" maxlength="50">
      </div>
    </div>
<!--     <div class="p-fluid grid">
      <div class="field col-12 md:col-4">
        <label for="avatar">Avatar</label>
        <input type="url" name="avatar" id="avatar" pInputText [value]="user.firstName" required minlength="2">
      </div>
    </div> -->


  <button pButton type="button" label="Guardar cambios" class="p-button" (click)="saveUser()"></button>
  <button pButton type="button" [routerLink]="['reset']" label="Cambiar contraseña" class="p-button"></button>
</form>
</p-card>
