<div class="card">
  <p-dataView #dv [value]="pizzas" [paginator]="true" [rows]="9" filterBy="description" [sortField]="sortField"
    [sortOrder]="sortOrder" layout="grid">
    <ng-template pTemplate="header">
      <div class="flex flex-column md:flex-row md:justify-content-between">
        <span class="p-input-icon-left mb-2 md:mb-0">
          <i class="pi pi-search"></i>
          <input type="search" pInputText placeholder="Buscar..." (input)="dv.filter($any($event.target).value)" />
        </span>
      </div>
    </ng-template>
    <ng-template let-product pTemplate="listItem">
      <div class="col-12">
        <div class="product-list-item">
          <img [src]="
              'http://localhost:8001/api/v1/pizzas/' + product.idPizza + '/foto'
            " [alt]="product.description" />
          <div class="product-list-detail">
            <div class="product-name">{{ product.description }}</div>

            <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{ product.description
              }}</span>
          </div>
          <div class="product-list-action">
            <span class="product-price">${{ product.amount }}</span>
            <p-button icon="pi pi-shopping-cart" [routerLink]="['/pizza/', product.idPizza]" label="Añadir"></p-button>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template let-product pTemplate="gridItem">
      <div class="col-12 md:col-4">
        <div class="product-grid-item card">
          <div class="product-grid-item-content">
            <img [src]="
                'http://localhost:8001/api/v1/pizzas/' +
                product.idPizza +
                '/foto'
              " [alt]="product.description" />
            <div class="product-name">{{ product.description }}</div>

          </div>
          <div class="product-grid-item-bottom">
            <span class="product-price">${{ product.amount }}</span>

            <p-button icon="pi pi-shopping-cart" [routerLink]="['/pizza/', product.idPizza]" label="Añadir"></p-button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
