<div class="grid-header">
  <div class="logo"><img  src="/assets/img/logotipo.png" alt="logo-pizza-iolo"></div>
  <div class="buscador"></div>
  <div class="logo"><img src="https://picsum.photos/100" alt="logo-usuario"></div>
</div><br>

<p-menubar [model]="items">
  <ng-template pTemplate="start">
      <img src="assets/showcase/images/primeng.svg" height="40" class="mr-2">
  </ng-template>
  <ng-template pTemplate="end">
      <input type="text" pInputText placeholder="Search">
  </ng-template>
</p-menubar>

