<p-fieldset legend="Pedidos activos">
  <p-card class="datos-pedido">
    <div class="cincuenta">
      <h4>Nombre</h4>
      <h3>Cantidad</h3>
    </div>
    <div class="cincuenta">
      <img src="https://picsum.photos/200/200" alt="">
    </div>
  </p-card>
  <p-button>Coste total: 20,59€</p-button>
</p-fieldset>
<p-fieldset legend="Historial de pedidos">
  <p-card class="datos-pedido">
    <div class="cincuenta">
      <h4>Nombre</h4>
      <h3>Cantidad</h3>
    </div>
    <div class="cincuenta">
      <img src="https://picsum.photos/200/200" alt="">
    </div>
  </p-card>
  <p-button>Coste total: 20,59€</p-button>
</p-fieldset>
