<p-card>
  <div class="card">

    <div class="grid">
        <form class="col-5 flex align-items-center justify-content-center form-signin" [formGroup]="signinForm" (ngSubmit)="loginUser()">
            <div class="p-fluid">
                <div class="field">
                  <h4>Iniciar Sesión</h4>
                    <label for="email">Email</label>
                    <input type="email"
                    class="form-control"
                    formControlName="email" required />
                </div>
                <div class="field">
                    <label for="password">Password</label>
                    <input type="password"
                    class="form-control"
                    formControlName="password" />
                </div>
                <p-button label="Entrar" type="submit"></p-button>
                <a routerLink="/resetPass">Pincha aquí si no recuerdas tu contraseña</a>
              </div>
        </form>
        <div class="col-2">
            <p-divider layout="vertical">
                <b>O BIEN</b>
            </p-divider>
        </div>
        <div class="col-5 flex align-items-center justify-content-center">
            <p-button label="Regístrate" icon="pi pi-user-plus" styleClass="p-button" routerLink="/registro"></p-button>
          </div>
    </div>
</div>
  </p-card>


