<p-card *ngIf="product">
  <div class="grid-container">
  <div class="grid-item">
  <p-card >
    <img [src]="'http://localhost:8080/api/v1/pizzas/' + product.idPizza + '/foto'" [alt]="product.description"/>
  </p-card>
</div>
<div class="grid-item">
    <p-panel  header="{{product.description}}">
      <b>Masa: </b>{{product.idBase}}
     <br/>
     <b>Salsa: </b> {{product.idSauce}}
     <br/>
    <b>Ingredientes: </b><span *ngFor="let item of product.ingredientPizza; let isLast=last">
      {{item}}{{isLast ? '' : ', '}}
   </span>
    </p-panel>
    <div><i class="pi pi-heart"></i>{{product.likes}} <p-button icon="pi pi-cart" (click)="addToCart()" label="añadir"></p-button></div>
    <p-inputNumber [showButtons]="true" [(ngModel)]="product.quantity" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal"
              [step]="1" [min]="1" [max]="24" decrementButtonClass="p-button-danger"
              incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus" [allowEmpty]="false">
            </p-inputNumber>
</div>
<p-button icon="pi pi-arrow-left" [routerLink]="['/pizza']" label="Atrás"></p-button>

</div>
  </p-card>
